.intestazione{
    background-color: rgba(255, 154, 39, 0.899);
    color: rgb(43, 0, 255);
    text-align: center;

    padding: 16px;

    border-style: solid;
    border-color: green;
    border-width: 16px;
    border-radius: 30px;
}

.link-navigazione{
    color: darkmagenta;
    font-weight: bold;
    
}

.immagine-spostabile{
    position: absolute;
    top: 500px;
    left: 500px;
}